@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
 box-sizing: border-box;
}

/* Mobile first - StadardStyle */
html, body {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 16;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.border {
     border: 1px solid #cccccc;  
}

.container {
width: 100%;
margin-left: auto;
margin-right: auto;
padding-left: 1rem;
padding-right: 1rem;
}

@media (min-width: 768) {.container { max-width: 720;}}

@media (min-width: 1200) {.container {max-width: 1140;}}

@media (min-width: 1400px) {.container {max-width: 1320px;}}

@media (min-width: 1920px) {.container {max-width: 1410px;}}

.d-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.btn {
    display: inline-flex;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    padding: 1.25rem, 1.75rem;
    border-radius: 0.75rem;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1rem;
}

.btn2 {
    display: inline-flex;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 0.8rem;
    margin-left: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    background-color: #25e6c8; 
    font-weight: bold;
}
.btn3 {
    display: inline-flex;
    font-size: 8px;
    font-family: 'Roboto', sans-serif;
    color: #2baaec;
    padding: 0.1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    background-color: white; 
    font-weight: bold;
}


/* navbar-top */
.navbar-top {
    display: none;
    padding: 1rem 0;
}

.navbar-top border {
    opacity: 60%;
    border-bottom: 1px solid #707070;
}

.navbar-top .container {
    padding: 0%;
}

@media (min-width: 768px) {.navbar-top {display: block;}}

.working-hours {
    display: flex;
    align-items: center;
    
    }
.working-hours i {
    margin-right: 0.5rem;
    font-size: 1.3rem;
    color: #2BAAEC;
}

.working-hours p {
   margin: 0;
   font-size: 1.05rem;
}

.navbar-top ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.navbar-top ul li {
    margin-left: 1.3rem;
}

.navbar-top a {
color: #2BAAEC;
font-size: 1.1rem;
}
.navbar-top a:hover {
    color: #25E6C8;
}


/* mainmenu */
#mainmenu {
    font-family: 'Roboto Slab', serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (min-width:768px) { #mainmenu {padding-top: 2rem; padding-bottom: 2rem;}}

#mainmenu .container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainmenu .logo {
    height: 50px;
   
}
@media (min-width: 768px) { #mainmenu .logo {height: 60px;} }

#mainmenu .menu {
    flex: 2;
    display: flex;
    justify-content: flex-end;   
}

#mainmenu .menu ul {
    display: none;
    list-style: none;
    margin: 0;
}
@media (min-width: 992px) { #mainmenu .container .menu ul {display: flex;} }

#mainmenu .menu ul li {
    margin-left: 1.3rem;
}
#mainmenu .menu ul li a {
    color: #363636; 
}

#mainmenu .menu ul li a:hover {
    color: #25e6c8;
}
#mainmenu .menu button {
  font-size: 2.0rem;
  padding: 0;
}
@media (min-width: 992px) { #mainmenu .container .menu button {display: none;} }


/* Showcase */

#showcase {
    background-color: #DEDEDE;
    font-family: 'Roboto Slab', serif;
    padding-right: 1rem;   
}

#showcase .container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#showcase .placehold {
    height: 155px;
    margin-top: 15px;
    padding-right: 0.5rem;

    /* border:  solid black; */
    
}
@media (min-width: 768px) { #showcase .placehold {height: 550px; padding-right: 1rem; margin-left: -3rem; } }


#showcase .menu {
    justify-content: flex-end;
    
}
@media (min-width: 768px) { #showcase .menu {padding-left: 6rem;} }

#showcase .menu ul li {
    line-height: 1.2rem;
    list-style: none;

}
@media (min-width: 768px) { #showcase  .menu ul  {display: inline;} }

#showcase .menu ul li a1{
    color: white;
}
@media (min-width: 768px) { #showcase .menu ul li a1  {display: flex; font-size: 30px; padding-bottom: 0.5rem;}}
#showcase .menu ul li a2{
    color: white;
}
@media (min-width: 768px) { #showcase .menu ul li a2  {display: flex; font-size: 30px; padding-bottom: 5rem; }}

#showcase .menu ul li a3{
    display: none;
    font-size: 18px;
    margin-top: 0.6rem;
    
}
@media (min-width: 768px) { #showcase  .menu ul li a3  {display: flex;} }

#showcase .btn2 {
   
  }
  @media (min-width: 768px) { #showcase .menu button {
      display: flex; 
      font-size: 18px;
      margin-top: 3rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 1rem;
      padding-bottom: 1rem;   
      margin-left: -0.1rem;
    } }

    /* ABOUT US */

    #about-us {
        /* background-color: #DEDEDE; */
        font-family: 'Roboto Slab', serif;
        padding-right: 1rem;   
    }
    
    #about-us .container { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    @media (min-width: 768px) { #about-us .container  {margin-top: 5rem;} }

    #about-us .placehold2 {
        height: 170px;
        /* margin-top: 1.3rem; */
        margin-right: 1rem;
        margin-left: 1rem;
    }
    @media (min-width: 768px) { #about-us .placehold2  {height: 680px; margin-left: 1rem;} }

    #about-us .text ul li  {
        line-height: 1.2rem;
        list-style: none;
       
    }
    @media (min-width: 768px) { #about-us .text ul li { margin-right: 10rem;} }
   
    #about-us .text ul li a1   {
        font-family: 'Roboto Slab', serif;
        /* border: 1px solid black; */
    }
    #about-us .color   {
        color:#2BAAEC;
        }

    @media (min-width: 768px) { #about-us .text ul li a1 {font-size: 40px; line-height: 1.1; } }
 


    #about-us .text ul li a2   {
        display: none;
        
    }
    @media (min-width: 768px) { #about-us  .text ul li a2 {display: flex;
    margin-top: 1.3rem; margin-bottom: 2rem;} }

    #about-us .text ul li a3  {
        display: none;
        font-size: 18px;
        line-height: 1.4;
        font-family: 'Roboto', sans-serif;
        margin-right: 1.2rem;
    }
    @media (min-width: 768px) { #about-us  .text ul li a3  {display: flex;} }

    #about-us .text ul li a4 {
        display: none;
        font-size: 18px;
        line-height: 1.4;
        margin-top: 2rem;
        font-family: 'Roboto', sans-serif;

    }
    @media (min-width: 768px) { #about-us  .text ul li a4  {display: flex;} }

    #about-us .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: White;
        margin-left: 2.5rem;
      }
     
      #about-us .grid-item {
        background-color: white;
        color: #2baaec;       
        font-size: 10px;
        text-align: left;
      }
      #about-us .grid-item2 {
        background-color: white;
        margin-right: center;
        font-size: 4.5px;
        text-align: left;
      }
      @media (min-width: 768px) { #about-us  .grid-container {margin-top: 3rem; margin-right:14rem; margin-bottom: 6rem;} }
      @media (min-width: 768px) { #about-us  .grid-item {font-size: 40px;} }
      @media (min-width: 768px) { #about-us  .grid-item2 {font-size: 18px;} }





      /* SERVICES */
      #services {
      background-color: #f7f7f7;
      padding: 8rem;  
    }
    
    #services .container { 
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    #services .top {
        list-style: none;
    }

    #services .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-top: 3.5rem;
    }

    #services li a {
        font-size: 40px;
        text-align: center;
        font-family: 'Roboto Slab', serif;
        margin-left: 30rem;
    }
    #services li a1 {
        margin-left: 24rem;
    }

    .box p {
        font-size: 22px;
        text-align: center;
    }
    .box p1 {
        font-size: 18px;
        text-align: center;
        font-family: 'Roboto Slab', serif;  
    }
    .box {
        padding: 2rem;
    
        background-color: #f3fbff;
        position: relative;
        z-index: 1;
    }

    .box .pic {
        /* border: 1px solid black; */
        margin-left: 6.7rem;
        margin-right: 5rem;
    }

    .box .pic:hover {
        color: #2baaec;
    }
    .box .iconbackground {
        position: relative;
        z-index: -1;
        } 
        
       
   
    .box .toothicon {
        position: absolute;
        margin-left: 2rem;
        margin-top: 1.9rem;
    }
    #box2 {}
    #box3 {}
    #box4 {}
    #box5 .toothicon{
        margin-left: 3rem;
     }
    #box6 {}



  







   /* appointment */

   #appointment {
        padding: 0.5rem;
        background-color: #2baaec;
        opacity: 80%;
        font-family: 'Roboto Slab', serif;
        padding-right: 1rem;   
    }
@media (min-width: 768px){#appointment .container { padding: 3.5rem; }}

#appointment .container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#appointment .make-app p {
  
    color: white;
    font-size: 8px;
    font-family: 'Roboto Slab', serif;
}
@media (min-width: 768px){#appointment .make-app p { font-size: 30px; }}

#appointment .btn3 {
    
}
@media (min-width: 768px){#appointment .btn3 { 
    font-size: 18px;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}}

/* footer */

#footer {
background-color: #2baaec;

}
@media (min-width: 768px){#footer { padding: 1rem; }}

#footer .container { 
    text-align: center;
}

#footer .container s { 
    color: white;
    font-size: 5px;
    opacity: 60%;
    text-decoration: none;
}
@media (min-width: 768px){#footer .container s { font-size: 16px; }} 